#container{
    border: 2px solid red;
    background-color: $DarkGrayishBlue;
    color: $LightCyan;
    width: 50%;
    height: 30%;
    margin: 10% auto;
    border-radius: 15px;
    padding: 1%;
}